/* styles/TaskListPage.css */

body {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 89.5vh;
  width: 100vw;
  overflow-x: hidden;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 50px 100px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #61dafb;
}

ul {
  list-style: none;
  padding: 0;
}

.EachTask {
  width: 800px;
  /* background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%); */
  background-color: #4d4855;
  background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);

  /* box-shadow: rgba(170, 97, 97, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.TopBar {
  display: flex;
  width: 820px;
  border-radius: 6px;
  height: 50px;
  padding-top: 5px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5px;
  background: linear-gradient(112.6deg, rgb(56, 24, 40) -10.7%, rgb(23, 148, 185) 100.2%);
  padding-left: 10px;
}

.SortBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  bottom: 60px;
  right: 115px;

}

.PriorityIndex {
  padding-right: 40px;
  font-family: 'Poppins', sans-serif;
  padding-top: 10px;
}

.DueIndex {
  width: 100px;
  text-wrap: nowrap;
  color: #e5989b;
  font-weight: 400;
  padding-left: 50px;
  padding-right: 70px;
  padding-top: 10px;

}

.SortSelect {

  width: 110px;
  color: #ced4da;
  outline: none;
  border: none;
  text-align: left;
  padding: 10px 7px;
  font-family: 'Poppins', sans-serif;

}

.SortIcon {
  width: 23px;
  height: 25px;
  border-radius: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.TaskHeading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  width: 400px;
}

.DueDate {
  width: 100px;
  color: #e5989b;
}

.priorityLevel {
  text-align: center;
  text-transform: uppercase;
}

.TaskDecription {
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 400;
  opacity: 0.4;
  width: 400px;
  height: 50px;
}

.ActionBtns {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.EachActionBtn {
  width: 27px;
  height: 27px;
  border-radius: 80px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.EachActionBtn:hover {
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

li span {
  flex: 1;
}

.checkbox-container {
  margin-right: 10px;
}

button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.speedometer {
  zoom: 0.4;
}

button:hover {
  background-color: #cc3700;
}

.checkbox-wrapper-12 {
  position: relative;
}

.checkbox-wrapper-12>svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
  top: calc(50vh - 12px);
  left: calc(50vw - 12px);
}

.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid #bfbfc0;
  border-radius: 50%;
}

.checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: url("#goo-12");
  filter: url("#goo-12");
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked+label {
  animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked+label+svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
  40% {
    background: #70e000;
    box-shadow: 0 -18px 0 -8px #70e000, 16px -8px 0 -8px #70e000, 16px 8px 0 -8px #70e000, 0 18px 0 -8px #70e000, -16px 8px 0 -8px #70e000, -16px -8px 0 -8px #70e000;
  }

  100% {
    background: #70e000;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: #70e000;
    box-shadow: 0 -18px 0 -8px #70e000, 16px -8px 0 -8px #70e000, 16px 8px 0 -8px #70e000, 0 18px 0 -8px #70e000, -16px 8px 0 -8px #70e000, -16px -8px 0 -8px #70e000;
  }

  100% {
    background: #70e000;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-12 {
  40% {
    background: #70e000;
    box-shadow: 0 -18px 0 -8px #70e000, 16px -8px 0 -8px #70e000, 16px 8px 0 -8px #70e000, 0 18px 0 -8px #70e000, -16px 8px 0 -8px #70e000, -16px -8px 0 -8px #70e000;
  }

  100% {
    background: #70e000;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: #70e000;
    box-shadow: 0 -18px 0 -8px #70e000, 16px -8px 0 -8px #70e000, 16px 8px 0 -8px #70e000, 0 18px 0 -8px #70e000, -16px 8px 0 -8px #70e000, -16px -8px 0 -8px #70e000;
  }

  100% {
    background: #70e000;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent, 32px 16px 0 -10px transparent, 0 36px 0 -10px transparent, -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}